@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box-body">
    <h4>@ViewBag.Title</h4>
    <p><b>Please check your email to reset your password.</b></p>    
</div>
	
