@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box-body">
    <h4>@ViewBag.Title</h4>
    <p><b>Your password has been reset successfully.</b></p>
    <p>@Html.ActionLink("click here to Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
</div>