@model IEnumerable<SocietyManagement.Models.BuildingUnit>

@{
    ViewBag.Title = "Building Unit";
}

<h3><span class="glyphicon glyphicon glyphicon-home"></span> Building Unit</h3>

@if (User.IsInRole("Admin"))
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}

@Html.Partial("_BuildingUnit",Model)
