@model IEnumerable<SocietyManagement.Models.BuildingUnit>
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Building Unit";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-cube"></i> @ViewBag.Title</h3>
    @if (Helper.IsInRole("Super"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">

    @Html.Partial("_BuildingUnit", Model)

</div>