################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocietyManagement/SocietyManagement/obj/Release/Package/PackageTmp/Views
/SocietyManagement/SocietyManagement/obj/Release/Package/PackageTmp
