@model IEnumerable<SocietyManagement.Models.Collection>

@{
    ViewBag.Title = "Collection";
}

<h3><span class="glyphicon glyphicon-piggy-bank"></span> Collection</h3>


@if (User.IsInRole("Manager") || User.IsInRole("Admin"))
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}

@Html.Partial("_Payment", Model)

