@model IEnumerable<SocietyManagement.Models.RecurringDue>

@{
    ViewBag.Title = "Recurring Bill";
}

<h3><span class="glyphicon glyphicon-retweet"></span> Recurring Bill</h3>

@if (User.IsInRole("SuperUser"))
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}

@Html.Partial("_RecurringDue",Model)
