@model IEnumerable<SocietyManagement.Models.RecurringDue>
@using SocietyManagement.Models;
@{
    ViewBag.Title = "Recurring Bill";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-retweet"></i> @ViewBag.Title</h3>
    @if (Helper.IsInRole("Super"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>

<div class="box-body">
    @Html.Partial("_RecurringDue", Model)
    @Html.Partial("_DataTable", Model)
</div>