@model IEnumerable<SocietyManagement.Models.SP_BuildingUnit_BalanceSheet_Result>

@{
    ViewBag.Title = "Balance Sheet";
}



<h3><span class="glyphicon glyphicon-usd"></span> Balance Sheet</h3>
@if (ViewBag.UnitID != null)
{
<ul class="nav nav-pills pull-right">
    @foreach (var item in (SelectList)ViewBag.UnitID)
    {
        if (item.Selected)
        {
            <li class="active"><a href="#">@item.Text</a></li>
        }
        else
        {
            <li><a href="@Url.Action("BalanceSheet", new { id = item.Value })">@item.Text</a></li>
        }
    }
</ul>

@*@Html.DropDownList("UnitID", null, htmlAttributes: new { @class = "form-control" })*@

@Html.Partial("_BalanceSheet", Model);

}
else
{
    <div class="bg-info" style="padding:10px"><span class="glyphicon glyphicon-info-sign"></span>No Building Unit assigned to your user id.<br />Please contact your Manager for details.</div>
}