@model IEnumerable<SocietyManagement.Models.Due>

@{
    ViewBag.Title = "Bills";
}

<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-list-alt"></i> @ViewBag.Title</h3>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
    {
        <div class="pull-right">
            <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
        </div>
    }
</div>
<div class="box-body">

    @Html.Partial("_Bill", Model)

</div>