@model IEnumerable<SocietyManagement.Models.Due>

@{
    ViewBag.Title = "Bills";
}

<h3><span class="glyphicon glyphicon-usd"></span> Bills</h3>

@if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
{
    <div class="pull-right">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>
}

@Html.Partial("_Bill", Model)
