@{
    ViewBag.Title = "Dashboard";
}


<div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-dashboard"></i> @ViewBag.Title</h3>    
</div>

<div class="box-body">
    @if (User.IsInRole("User"))
    {
        @Html.Partial("_TopBoxUser")
    }
    else if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("SuperUser"))
    {
        @Html.Partial("_TopBox")
    }
</div>

