<div style="width:100%; height:1px; background-color:rgb(128,98,16);"></div>
<table cellpadding="2" cellspacing="2" style="margin-top:5px; width:100%; border-style:none; font-size:12px; font-family:Verdana, Geneva, Tahoma, sans-serif;">
    <tr>
        <td align="left" style="width:50%;"><a style="text-decoration:none; color:#3b3b3b;" href="mailto:{{Society.Email}}">{{Society.Email}}</a></td>
        <td align="right" style="width:50%;"><a style="text-decoration:none; color:#3b3b3b;" href="tel:{{Society.OfficePhone}}">Office: {{Society.OfficePhone}}</a></td>
    </tr>
    <tr>
        <td align="left" style="width:50%;"><a style="text-decoration:none; color:#3b3b3b;" href="{{Society.URL}}">{{Society.URL}}</a></td>
        <td align="right" style="width:50%;"><a style="text-decoration:none; color:#3b3b3b;" href="tel:{{Society.SecurityPhone}}">Security: {{Society.SecurityPhone}}</a></td>
    </tr>
</table>
