<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="width:99%; padding:5px 5px 5px 5px; border:1px solid silver; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:small;">
        <p align="center">
            <b><span style="color:rgb(39,78,19);font-size:18px;">{{SocietyName}}</span></b>
            <br />
            <span style="color:rgb(11,83,148);">{{SocietyAddress}}</span>
        </p>
        <hr id="null">

        <p>Dear <b>{{Name}}</b>,</p>
        <p>Please find attached Payment Receipt of <b>{{UnitName}}.</b></p>
        <p style="margin-left: 20px;" dir="ltr">
            Referance Number : <b>{{PaymentID}}</b>
            <br />
            Receipt Number : <b>{{ReceiptNumber}}</b>
            <br />
            Payment Date : <b>{{PaymentDate}}</b>
            <br />
            Payment Amount : <b>{{PaymentAmount}}</b>
            <br />
            Payment Mode : <b>{{PaymentMode}}</b>
            <br />
        </p>
        <p>Login to <a href="{{SocietyURL}}">{{SocietyName}}</a> site for detail bills and payment history.</p>
        <p>Thanks and Regards, <br /><b><i>{{SocietyName}}</i></b></p>
        <hr id="null">
        <p align="center">
            <b>Powerd by <a href="http://www.SocietyInbox.com">Society Inbox</a></b>
        </p>        
    </div>
</body>
</html>
