<div class="signature">
    <table>
        <tr>
            <td colspan="3" align="right">Authorised for {{Society.Name}}</td>
        </tr>
        <tr>
            <td align="center">
                <img src="Images/Chairman.png" style="height:50px;" />
            </td>
            <td align="center">
                <img src="Images/Secretary.png" style="height:50px;" />
            </td>
            <td align="center">
                <img src="Images/Treasurer.png" style="height:50px;" />
            </td>
        </tr>
        <tr>
            <td align="center"><b>{{Society.Chairman}}</b><br /><i>Chairman</i></td>
            <td align="center"><b>{{Society.Secretary}}</b><br /><i>Secretary</i></td>
            <td align="center"><b>{{Society.Treasurer}}</b><br /><i>Treasurer</i></td>
        </tr>
    </table>
</div>